/*@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');*/
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'Noto Nastaliq Urdu';
  src: url('./fonts/NotoNastaliqUrdu-VariableFont_wght.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f0f8ff;
  font-family: 'Noto Nastaliq Urdu', Arial, sans-serif;
}
.container {
  padding: 20px;
}
.grid-container {
  gap: 40px 10px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}
.letter-box {
  width: 150px;
  height: 150px;
  background: #fff;
  position: relative;
  border: 2px solid #333;
}
canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
/*.letter {
  color: #ddd;
  direction: rtl;
  font-size: 100px;
  text-align: center;
  line-height: 150px;
  pointer-events: none;
}*/
.letter {
  color: #ddd;
  height: 100%;
  display: flex;
  direction: rtl;
  font-size: 60px;
  text-align: center;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}
button {
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #4caf50;
}
button:hover {
  background: #45a049;
}